
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(17, 17, 17); 
    text-align: center;
    font-variant: light;
    font-family: monospace;
    font-size:large
}
a {
    color: rgb(17, 17, 17);
    text-decoration:none;
    font-size:xx-large
}

#circle {
    position: absolute;
    top: 10px;
    left:10px;
    width: 100px;
    height: 100px;
    background-color:white;
    border-radius: 50%;
    box-shadow: 0 0 20px white;
    visibility: visible;
    cursor: pointer;
    transition: width 0.5s, height 0.5s, box-shadow 0.5s ease;
    position: relative; /* This will allow absolute positioning of the menu relative to the circle */
    z-index: 2; /* Ensure the circle is above other content */
    animation: hoverEffect 3s ease-in-out infinite;

}

#circle.expanded {
    width: 300px;
    height: 300px;
    box-shadow: 0 0 50px white;
}

#circle:hover {
    box-shadow: 0 0 50px white; /* Increase the shadow intensity */
}
#circle.expanded:hover {
    box-shadow: 0 0 200px white;
}
#menu {
    position: absolute;
    text-decoration:rgb(17, 17, 17);
    line-height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the menu both horizontally and vertically within the circle */
    z-index: 3; /* Ensure the menu is above the circle */
}

#menu-text-now:hover{
        color:goldenrod;
}

#menu-text-archive:hover{
    color:goldenrod;
}

#menu-text-about:hover{
    color:goldenrod;
}

.visible {
    visibility: visible;
    transition-delay: .5s;

}

.hidden {
    visibility: hidden;
}


/* Keyframes for hovering effect */
@keyframes hoverEffect {
    0%, 100% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
}
